.searchContainer {
  width: 100%;

  display: inline-flex;
  border: 1px solid #ccc;
  border-radius: 5px;
  align-items: center;
}

i {
  padding: 0.5rem;
  color: gray;
  margin-left: 20px;
}

.searchBox {
  border: 0;
  padding: 20px;
  outline: none;
}



